# Ignorar arquivos Excel
*.xlsx
*.xlsm

# Ignorar cache do Python
__pycache__/
*.pyc

# Ignorar histórico do VS Code (se estiver usando)
.history/
.dist/
.build/

# Ignorar arquivos
*.spec
*.json

# Ignorar arquivos de sistema
.DS_Store
Thumbs.db
